In [1]:
!ls provided_data

'IPEDS Variables for Data Selection.pdf'
'Problem C - CollegeScorecardDataDictionary-09-08-2015.xlsx'
'Problem C - IPEDS UID for Potential Candidate Schools.xlsx'
'Problem C - Most Recent Cohorts Data (Scorecard Elements).xlsx'

In [2]:
import pandas

In [5]:
candidates = pandas.read_excel('provided_data/Problem C - IPEDS UID for Potential Candidate Schools.xlsx')
candidates

,UNITID,INSTNM,CITY,STABBR
0,110486,California State University-Bakersfield,Bakersfield,CA
1,110635,University of California-Berkeley,Berkeley,CA
2,110918,California Christian College,Fresno,CA
3,111188,California Maritime Academy,Vallejo,CA
4,111920,Chabot College,Hayward,CA
5,111939,Chaffey College,Rancho Cucamonga,CA
6,128498,Albertus Magnus College,New Haven,CT
7,128902,Connecticut College,New London,CT
8,130004,Norwalk Community College,Norwalk,CT
9,144193,City Colleges of Chicago-Richard J Daley College,Chicago,IL
10,144944,Elgin Community College,Elgin,IL
11,145497,Hebrew Theological College,Skokie,IL
12,145646,Illinois Wesleyan University,Bloomington,IL
13,145682,Illinois Central College,East Peoria,IL
14,158431,Bossier Parish Community College,Bossier City,LA
15,158884,Nunez Community College,Chalmette,LA
16,174075,University of Minnesota-Crookston,Crookston,MN
17,174358,Minnesota State University-Moorhead,Moorhead,MN
18,174428,Normandale Community College,Bloomington,MN
19,174792,Saint Johns University,Collegeville,MN
20,174862,Crown College,Saint Bonifacius,MN
21,187596,Navajo Technical University,Crownpoint,NM
22,187745,Institute of American Indian and Alaska Native...,Santa Fe,NM
23,188030,New Mexico State University-Main Campus,Las Cruces,NM
24,199494,Rowan-Cabarrus Community College,Salisbury,NC
25,199643,Shaw University,Raleigh,NC
26,199847,Wake Forest University,Winston Salem,NC
27,199962,Wingate University,Wingate,NC
28,212832,Gwynedd Mercy University,Gwynedd Valley,PA
29,213251,Juniata College,Huntingdon,PA
...,...,...,...,...
2947,171304,Muskegon Community College,Muskegon,MI
2948,183211,Rivier University,Nashua,NH
2949,183822,Bloomfield College,Bloomfield,NJ
2950,197601,Yeshiva Karlin Stolin,Brooklyn,NY
2951,197744,Yeshivath Zichron Moshe,South Fallsburgh,NY
2952,197869,Appalachian State University,Boone,NC
2953,197887,Asheville-Buncombe Technical Community College,Asheville,NC
2954,198330,Coastal Carolina Community College,Jacksonville,NC
2955,198419,Duke University,Durham,NC
2956,198455,Durham Technical Community College,Durham,NC
2957,198598,Greensboro College,Greensboro,NC
2958,198862,Livingstone College,Salisbury,NC
2959,198905,Martin Community College,Williamston,NC
2960,211273,Bryn Mawr College,Bryn Mawr,PA
2961,211291,Bucknell University,Lewisburg,PA
2962,212009,Dickinson College,Carlisle,PA
2963,223773,Cedar Valley College,Lancaster,TX
2964,223816,Central Texas College,Killeen,TX
2965,223898,Cisco College,Cisco,TX
2966,224527,East Texas Baptist University,Marshall,TX
2967,239017,Lawrence University,Appleton,WI
2968,239442,Nicolet Area Technical College,Rhinelander,WI
2969,239460,Northcentral Technical College,Wausau,WI
2970,239910,Southwest Wisconsin Technical College,Fennimore,WI
2971,433174,Carolinas College of Health Sciences,Charlotte,NC
2972,442523,Alaska Christian College,Soldotna,AK
2973,475422,Finger Lakes Health College of Nursing,Geneva,NY
2974,475565,Stella and Charles Guttman Community College,New York,NY
2975,484871,Rabbinical College Ohr Yisroel,Brooklyn,NY
2976,484932,BridgeValley Community & Technical College,South Charleston,WV

In [6]:
data = pandas.read_excel('provided_data/Problem C - Most Recent Cohorts Data (Scorecard Elements).xlsx')
data

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4,PCTFLOAN,UG25abv,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,md_earn_wne_p10,gt_25k_p6
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,0,3,...,NaN,0.8204,0.1049,33611.5,373.157,0.444714,0.308718,NaN,31400,0.462298
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,0,3,...,NaN,0.5397,0.2422,23117,256.646,0.756267,0.50855,NaN,40300,0.660484
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,0,3,...,NaN,0.7629,0.8540,PrivacySuppressed,PrivacySuppressed,0.647249,PrivacySuppressed,NaN,38100,0.646667
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4728,0.2640,24738,274.643,0.781998,0.478211,NaN,46600,0.660566
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.8735,0.1270,33452,371.386,0.331199,0.257482,NaN,27800,0.342226
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,www.ua.edu/,oira.ua.edu,0,3,...,NaN,0.4148,0.0853,24000,266.449,0.813941,0.666009,NaN,42400,0.661085
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,www.cacc.edu,www.cacc.edu/graphics/netpricecalculator/npcal...,0,2,...,0.4159,0.4777,0.3153,PrivacySuppressed,PrivacySuppressed,0.438402,NaN,0.289189,27100,0.446136
7,100812,100800,1008,Athens State University,Athens,AL,www.athens.edu,24.athens.edu/apex/prod8/f?p=174:1:39413574495...,0,3,...,NaN,0.6277,0.6410,18832,209.074,0.767649,NaN,NaN,39700,0.65222
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,www.aum.edu,www.aum.edu/admissions/financial-information/p...,0,3,...,NaN,0.6476,0.2938,21791,241.925,0.628856,0.285309,NaN,34800,0.554537
9,100858,100900,1009,Auburn University,Auburn University,AL,www.auburn.edu,www.auburn.edu/admissions/money-matters.html,0,3,...,NaN,0.3610,0.0415,22250,247.021,0.882455,0.68093,NaN,45400,0.709142
10,100937,101200,1012,Birmingham Southern College,Birmingham,AL,www.bsc.edu/,www.bsc.edu/fp/np-calculator.cfm,0,3,...,NaN,0.4939,0.0152,27000,299.755,0.84985,0.633327,NaN,41900,0.569307
11,101028,1218200,12182,Chattahoochee Valley Community College,Phenix City,AL,www.cv.edu,external.cv.edu/npc/npcalc.htm,0,2,...,0.3293,0.1948,0.3876,7000,77.7143,0.528708,NaN,0.239854,27700,0.428771
12,101073,1055400,10554,Concordia College Alabama,Selma,AL,www.ccal.edu/,www.ccal.edu/netprice/netprice/,0,3,...,NaN,0.9100,0.2367,26500,294.204,0.254125,0.134844,NaN,21300,0.287206
13,101116,1303906,13039,South University-Montgomery,Montgomery,AL,southuniversity.edu,tcc.noellevitz.com/edmc/Transfer-Students?ifra...,0,2,...,NaN,0.7543,0.5726,27167,301.609,0.349281,0.109873,NaN,29800,0.606406
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,www.escc.edu,www.escc.edu/NetPrice/npcalc.htm,0,2,...,0.4500,0.2673,0.3399,11073,122.933,0.554302,NaN,0.338284,26300,0.489614
15,101161,106000,1060,James H Faulkner State Community College,Bay Minette,AL,www.faulknerstate.edu,www.faulknerstate.edu,0,2,...,0.3981,0.4042,0.2909,9153,101.617,0.590853,NaN,0.164098,28900,0.433466
16,101189,100300,1003,Faulkner University,Montgomery,AL,www.faulkner.edu,www.faulkner.edu/netprice/,0,3,...,NaN,0.7427,0.4589,23750,263.674,0.563029,0.270732,NaN,37600,0.612365
17,101240,101700,1017,Gadsden State Community College,Gadsden,AL,www.gadsdenstate.edu,www.gadsdenstate.edu/netpricecalculator/,0,2,...,0.3865,0.0000,0.3733,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.210753,26900,0.386324
18,101277,4187200,41872,New Beginning College of Cosmetology,Albertville,AL,www.nbccosmetology.com,www.nbccosmetology.com/npcalc.htm,0,1,...,NaN,0.4422,0.3933,9490,105.358,NaN,NaN,0.945962,NaN,NaN
19,101286,101800,1018,George C Wallace State Community College-Dothan,Dothan,AL,www.wallace.edu,www.wallace.edu/net_price_calculator.aspx,0,2,...,0.4627,0.0000,0.3920,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.260445,27100,0.40515
20,101295,787100,7871,George C Wallace State Community College-Hance...,Hanceville,AL,www.wallacestate.edu,www.wallacestate.edu/Financial-Aid/Net-Price-C...,0,2,...,0.5414,0.4174,0.3229,11330,125.786,0.606629,NaN,0.310234,27800,0.512655
21,101301,569900,5699,George C Wallace State Community College-Selma,Selma,AL,www.wccs.edu,www.wccs.edu/index.php?page=npc.html,0,2,...,0.2727,0.0000,0.3318,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.280347,24400,0.363136
22,101365,962107,9621,Herzing University-Birmingham,Birmingham,AL,www.herzing.edu/birmingham,www.herzing.edu/financial-aid/net-price-calcul...,0,1,...,NaN,0.7153,0.7813,22822,253.371,0.474266,0.323541,NaN,42300,0.596552
23,101435,101900,1019,Huntingdon College,Montgomery,AL,www.huntingdon.edu,hawk.huntingdon.edu/oiac/netpricecalculator/np...,0,3,...,NaN,0.7227,0.1937,27000,299.755,0.781431,0.447984,NaN,37100,0.616858
24,101453,2199700,21997,Heritage Christian University,Florence,AL,www.hcu.edu,www.hcu.edu/share/news/npcalc.htm,0,3,...,NaN,0.4839,0.5942,PrivacySuppressed,PrivacySuppressed,0.511628,PrivacySuppressed,NaN,32700,PrivacySuppressed
25,101462,526000,5260,J F Drake State Community and Technical College,Huntsville,AL,www.drakestate.edu,www.drakestate.edu/admissions/net_price_calcul...,0,1,...,0.2059,0.0000,0.4555,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.244617,23500,0.364865
26,101480,102000,1020,Jacksonville State University,Jacksonville,AL,www.jsu.edu/,www.jsu.edu/finaid/,0,3,...,NaN,0.6811,0.2200,23500,260.898,0.627608,0.2977,NaN,35100,0.546617
27,101499,102100,1021,Jefferson Davis Community College,Brewton,AL,www.jdcc.edu,www.jdcc.edu/netpricecalculator/,0,2,...,0.4565,0.0000,0.4060,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.356119,27200,0.417303
28,101505,102200,1022,Jefferson State Community College,Birmingham,AL,www.jeffstateonline.com,www.jeffstateonline.com/financial/tuition/net-...,0,2,...,0.4415,0.2323,0.3671,10000,111.02,0.622807,NaN,0.164837,30300,0.493239
29,101514,101300,1013,John C Calhoun State Community College,Tanner,AL,www.calhoun.edu,calhoun.studentaidcalculator.com/,0,2,...,0.4680,0.2773,0.3688,9940,110.354,0.543044,NaN,0.156614,27200,0.464606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7774,482574,1072720,10727,DeVry University-Ohio,Columbus,OH,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.8170,0.7137,43068,478.143,0.544562,0.3933,NaN,NaN,NaN
7775,482583,1072774,10727,DeVry University-Oklahoma,Oklahoma City,OK,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.7093,0.8385,43068,478.143,0.544562,PrivacySuppressed,NaN,NaN,NaN
7776,482592,1072749,10727,DeVry University-Oregon,Portland,OR,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.7882,0.8977,43068,478.143,0.544562,PrivacySuppressed,NaN,NaN,NaN
7777,482608,1072722,10727,DeVry University-Pennsylvania,Fort Washington,PA,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.8051,0.6409,43068,478.143,0.544562,0.237,NaN,NaN,NaN
7778,482617,1072780,10727,DeVry University-Tennessee,Memphis,TN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.8548,0.7865,43068,478.143,0.544562,PrivacySuppressed,NaN,NaN,NaN
7779,482635,1072724,10727,DeVry University-Texas,Irving,TX,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.7870,0.7655,43068,478.143,0.544562,0.2919,NaN,NaN,NaN
7780,482644,1072776,10727,DeVry University-Utah,Sandy,UT,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.8045,0.8817,43068,478.143,0.544562,NaN,NaN,NaN,NaN
7781,482653,1072725,10727,DeVry University-Virginia,Arlington,VA,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.5870,0.7561,43068,478.143,0.544562,0.2247,NaN,NaN,NaN
7782,482662,1072723,10727,DeVry University-Washington,Federal Way,WA,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.7155,0.7768,43068,478.143,0.544562,0.2903,NaN,NaN,NaN
7783,482671,1072739,10727,DeVry University-Wisconsin,Milwaukee,WI,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,0,3,...,NaN,0.8500,0.7635,43068,478.143,0.544562,PrivacySuppressed,NaN,NaN,NaN
7784,482680,158500,1585,University of North Georgia,Dahlonega,GA,www.ung.edu,ung.edu/financial-aid/net-calculator.php,0,3,...,NaN,0.3858,0.1623,16473,182.884,0.855505,0.2597,NaN,NaN,NaN
7785,482699,159200,1592,South Georgia State College,Douglas,GA,www.sgsc.edu,faculty.sgc.edu/price/NetPriceCalculator/npcal...,0,2,...,NaN,0.4743,0.1861,13150,145.992,0.424949,0.1497,NaN,NaN,NaN
7786,482705,219900,2199,Northeastern University Global Network,Boston,MA,www.northeastern.edu/globalnetwork,www.northeastern.edu/financialaid/,0,0,...,NaN,NaN,0.4902,28804.5,319.789,0.909003,NaN,NaN,NaN,NaN
7787,482857,157100,1571,Georgia Military College-Distance Learning Cam...,Milledgeville,GA,www.gmc.cc.ga.us,www.gmc.cc.ga.us/page.php?page_id=1268&search=...,0,2,...,0.2815,0.5171,0.4904,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7788,48285701,157102,1571,Georgia Military College-Augusta Campus,Martinez,GA,http://augusta.gmc.cc.ga.us/index.php,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7789,48285702,157103,1571,Georgia Military College-Fairburn Campus,Fairburn,GA,http://fairburn.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7790,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,http://columbus.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7791,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,http://valdosta.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7792,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,http://robins.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7793,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,http://online.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7794,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,http://fairburn.gmc.cc.ga.us/,NaN,0,0,...,NaN,NaN,NaN,10500,116.572,0.480911,NaN,NaN,NaN,NaN
7795,482954,4051342,40513,Brown Mackie College-Dallas,Bedford,TX,www.brownmackie.edu,tcc.noellevitz.com/(S(ktqxr3be4it4eohl0jd2meh3...,0,0,...,NaN,0.7473,0.6721,21599,239.793,0.289359,NaN,NaN,NaN,NaN
7796,482963,2106605,21066,American Institute-Toms River,Toms River,NJ,www.americaninstitute.edu/,www.americaninstitute.com/NPC/clifton/netprice...,0,0,...,NaN,0.9494,0.6214,12340,136.999,0.44059,NaN,NaN,NaN,NaN
7797,482990,3115001,31150,Arizona College-Mesa,Mesa,AZ,www.arizonacollege.edu,www.arizonacollege.edu/net-price-calculator/,0,0,...,NaN,NaN,0.4198,9475,105.192,0.346119,NaN,NaN,NaN,NaN
7798,483009,3144402,31444,American College of Healthcare,Huntington Park,CA,www.ach.edu,www.ach.edu,0,0,...,NaN,0.7250,0.4521,9500,105.469,0.154882,NaN,NaN,NaN,NaN
7799,483045,576300,5763,Central Georgia Technical College,Warner Robins,GA,www.centralgatech.edu,www.centralgatech.edu/general/financial_servic...,0,1,...,0.5679,0.2912,0.5555,5348,59.3738,PrivacySuppressed,NaN,0.3892,NaN,NaN
7800,483054,4224600,42246,Barber School of Pittsburgh,Pittsburgh,PA,barberschoolofpittsburgh.com,barberschoolofpittsburgh.com/public_html/netpr...,0,1,...,0.8462,0.0000,0.5429,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN
7801,483106,4218500,42185,The Salon Professional Academy-South Plainfield,South Plainfield,NJ,www.thesalonprofessionalacademynewjersey.com/,www.thesalonprofessionalacademynewjersey.com/,0,1,...,0.8750,0.0000,0.3069,PrivacySuppressed,PrivacySuppressed,NaN,NaN,0.7463,NaN,NaN
7802,483124,108159,1081,Arizona State University-Skysong,Scottsdale,AZ,www.asu.edu/,students.asu.edu/costs,0,3,...,NaN,0.6625,0.6616,20375,226.204,0.802838,NaN,NaN,NaN,NaN
7803,483212,4130100,41301,Louisiana Delta Community College,Monroe,LA,www.ladelta.edu,www.ladelta.edu/financialAid/netPriceCalculato...,0,1,...,0.2609,0.0000,0.3869,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN,NaN,NaN

In [7]:
variables = pandas.read_excel('provided_data/Problem C - CollegeScorecardDataDictionary-09-08-2015.xlsx')
variables

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,root,id,integer,UNITID,NaN,NaN,IPEDS,NaN
1,8-digit OPE ID for institution,root,ope8_id,integer,OPEID,NaN,NaN,IPEDS,NaN
2,6-digit OPE ID for institution,root,ope6_id,integer,opeid6,NaN,NaN,IPEDS,NaN
3,Institution name,school,name,autocomplete,INSTNM,NaN,NaN,IPEDS,NaN
4,City,school,city,autocomplete,CITY,NaN,NaN,IPEDS,NaN
5,State postcode,school,state,string,STABBR,NaN,NaN,IPEDS,NaN
6,ZIP code,school,zip,integer,ZIP,NaN,NaN,IPEDS,NaN
7,Accreditor for institution,school,accreditor,string,AccredAgency,NaN,NaN,OPE,NaN
8,URL for institution's homepage,school,school_url,string,INSTURL,NaN,NaN,IPEDS,NaN
9,URL for institution's net price calculator,school,price_calculator_url,string,NPCURL,NaN,NaN,IPEDS,NaN
10,Predominant degree awarded (recoded 0s and 4s),school,degrees_awarded.predominant_recoded,integer,sch_deg,,NaN,IPEDS/NSLDS,"Missing values, 0s, and 4s from PREDDEG recode..."
11,Flag for main campus,school,main_campus,integer,main,0,Not main campus,IPEDS,NaN
12,NaN,school,NaN,NaN,NaN,1,Main campus,NaN,NaN
13,Number of branch campuses,school,branches,integer,NUMBRANCH,NaN,NaN,IPEDS,NaN
14,Predominant degree awarded\n0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,0,Not classified,IPEDS,NaN
15,NaN,school,NaN,NaN,NaN,1,Predominantly certificate-degree granting,NaN,NaN
16,NaN,school,NaN,NaN,NaN,2,Predominantly associate's-degree granting,NaN,NaN
17,NaN,school,NaN,NaN,NaN,3,Predominantly bachelor's-degree granting,NaN,NaN
18,NaN,school,NaN,NaN,NaN,4,Entirely graduate-degree granting,NaN,NaN
19,Highest degree awarded\n0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,0,Non-degree-granting,IPEDS,NaN
20,NaN,school,NaN,NaN,NaN,1,Certificate degree,NaN,NaN
21,NaN,school,NaN,NaN,NaN,2,Associate degree,NaN,NaN
22,NaN,school,NaN,NaN,NaN,3,Bachelor's degree,NaN,NaN
23,NaN,school,NaN,NaN,NaN,4,Graduate degree,NaN,NaN
24,Control of institution,school,ownership,integer,CONTROL,1,Public,IPEDS,NaN
25,NaN,school,NaN,NaN,NaN,2,Private nonprofit,NaN,NaN
26,NaN,school,NaN,NaN,NaN,3,Private for-profit,NaN,NaN
27,FIPS code for state,school,state_fips,integer,st_fips,1,Alabama,IPEDS,NaN
28,NaN,school,NaN,NaN,NaN,2,Alaska,NaN,NaN
29,NaN,school,NaN,NaN,NaN,4,Arizona,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1923,75th percentile of earnings of students workin...,earnings,8_yrs_after_entry.75th_percentile_earnings,integer,pct75_earn_wne_p8,NaN,NaN,Treasury,NaN
1924,90th percentile of earnings of students workin...,earnings,8_yrs_after_entry.90th_percentile_earnings,integer,pct90_earn_wne_p8,NaN,NaN,Treasury,NaN
1925,Standard deviation of earnings of students wor...,earnings,8_yrs_after_entry.std_deviation,float,sd_earn_wne_p8,NaN,NaN,Treasury,NaN
1926,"Share of students earning over $25,000/year (t...",earnings,8_yrs_after_entry.percent_greater_than_25000,float,gt_25k_p8,NaN,NaN,Treasury,NaN
1927,Number of students not working and not enrolle...,earnings,9_yrs_after_entry.not_working_not_enrolled,integer,count_nwne_p9,NaN,NaN,Treasury,NaN
1928,Number of students working and not enrolled 9 ...,earnings,9_yrs_after_entry.working_not_enrolled,integer,count_wne_p9,NaN,NaN,Treasury,NaN
1929,Mean earnings of students working and not enro...,earnings,9_yrs_after_entry.mean_earnings,float,mn_earn_wne_p9,NaN,NaN,Treasury,NaN
1930,Standard deviation of earnings of students wor...,earnings,9_yrs_after_entry.std_deviation,float,sd_earn_wne_p9,NaN,NaN,Treasury,NaN
1931,"Share of students earning over $25,000/year (t...",earnings,9_yrs_after_entry.percent_greater_than_25000,float,gt_25k_p9,NaN,NaN,Treasury,NaN
1932,"Median debt, suppressed for n=30",aid,median_debt_suppressed.overall,float,DEBT_MDN_SUPP,NaN,NaN,NSLDS,NaN
1933,"Median debt of completers, suppressed for n=30",aid,median_debt_suppressed.completers.overall,float,GRAD_DEBT_MDN_SUPP,NaN,NaN,NSLDS,NaN
1934,Median debt of completers expressed in 10-year...,aid,median_debt_suppressed.completers.monthly_paym...,float,GRAD_DEBT_MDN10YR_SUPP,NaN,NaN,NSLDS,NaN
1935,"3-year repayment rate, suppressed for n=30",repayment,3_yr_repayment_suppressed.overall,float,RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1936,3-year repayment rate for low-income (less tha...,repayment,3_yr_repayment_suppressed.income.low_income,float,LO_INC_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1937,3-year repayment rate for middle-income (betwe...,repayment,3_yr_repayment_suppressed.income.middle_income,float,MD_INC_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1938,3-year repayment rate for high-income (above $...,repayment,3_yr_repayment_suppressed.income.high_income,float,HI_INC_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1939,"3-year repayment rate for completers, suppress...",repayment,3_yr_repayment_suppressed.completers,float,COMPL_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1940,"3-year repayment rate for non-completers, supp...",repayment,3_yr_repayment_suppressed.non_completers,float,NONCOM_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1941,"3-year repayment rate for dependent students, ...",repayment,3_yr_repayment_suppressed.dependent_students,float,DEP_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1942,3-year repayment rate for independent students...,repayment,3_yr_repayment_suppressed.independent_students,float,IND_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1943,"3-year repayment rate for Pell students, suppr...",repayment,3_yr_repayment_suppressed.pell_grant,float,PELL_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1944,"3-year repayment rate for no-Pell students, su...",repayment,3_yr_repayment_suppressed.no_pell_grant,float,NOPELL_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1945,"3-year repayment rate for female students, sup...",repayment,3_yr_repayment_suppressed.female_students,float,FEMALE_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1946,"3-year repayment rate for male students, suppr...",repayment,3_yr_repayment_suppressed.male_students,float,MALE_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1947,3-year repayment rate for first-generation stu...,repayment,3_yr_repayment_suppressed.first_generation_stu...,float,FIRSTGEN_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1948,3-year repayment rate for non-first-generation...,repayment,3_yr_repayment_suppressed.non_first_generation...,float,NOTFIRSTGEN_RPY_3YR_RT_SUPP,NaN,NaN,NSLDS,NaN
1949,150% completion rate for less-than-four-year i...,completion,rate_suppressed.lt_four_year_150percent,float,C150_L4_POOLED_SUPP,NaN,NaN,IPEDS,NaN
1950,150% completion rate for four-year institution...,completion,rate_suppressed.four_year,float,C150_4_POOLED_SUPP,NaN,NaN,IPEDS,NaN
1951,200% completion rate for less-than-four-year i...,completion,rate_suppressed.lt_four_year,float,C200_L4_POOLED_SUPP,NaN,NaN,IPEDS,NaN
1952,200% completion rate for four-year institution...,completion,rate_suppressed.four_year_200percent,float,C200_4_POOLED_SUPP,NaN,NaN,IPEDS,NaN